<div class="cover-wrap">
	<div class="container container-author">
		{{#author}}
		<div class="author-cover {{#if cover_image}}" style="background-image: url({{cover_image}});" {{else}}no-image "{{/if}}>
        <div class=" overlay">
			<div class="avatar-wrap">
				{{#if profile_image}}
				<img src="{{img_url profile_image}}" alt="Author image" class="avatar">
				{{else}}
				<img src="{{asset "images/default-avatar.png"}}" alt="Author image" class="avatar">
				{{/if}}
			</div>
			<h3 class="author-name">
				{{name}}
			</h3>
			<div class="meta-info">
				<span class="post-count"><i class="fa fa-pencil-square-o fa-fw"></i>{{plural ../pagination.total
                                                                                             empty='No posts'
                                                                                             singular='% post'
                                                                                             plural='% posts'}}</span>
				{{#if location}}
				<span class="loaction"><i class="fa fa-map-marker fa-fw"></i>{{location}}</span>
				{{/if}}
				{{#if website}}
				<span class="website"><i class="fa fa-linkedin fa-fw"></i><a href="{{website}}"
						target="_BLANK">LinkedIn</a></span>
				{{/if}}
			</div>
			{{#if bio}}
			<div class="bio">{{bio}}</div>
			{{/if}}
		</div>
	</div>
	{{/author}}
</div>
</div>