<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  
{{#get "posts" filter="featured:true" limit="3" include="author,tags"}}
<div class="main-container col-xs-12">
  <div class="card-columns1">
    {{#foreach posts}}
    <div class="card">
      <div class="card_bkr" title="{{{title}}}"
        style="background:url({{#if feature_image}}{{img_url feature_image}}{{else}}assets/images/ippon-bkr.png{{/if}}) no-repeat center; background-size: cover;">
      </div>

      <div class="card-block" title="{{{title}}}">
        <div class="card-content">
          <p class="card-title"><a href="{{url}}" class="card_titre-a">{{{title}}}</a></p>
          <p class="card-excerpt">{{excerpt words=15}}…</p>
          <p class="card-read-more"><a href="{{url}}">Read More</a></p>
        </div>

        <hr class="hr_card" />

        <div class="author-block">
          <p class="card-date">
            <small class="text-muted">{{date format='MMM DD, YYYY'}}</small>
          </p>
          {{#author}}
          <a href="{{url}}">
            <img src="{{#if profile_image}}{{img_url profile_image}}{{else}}assets/images/default-avatar.png{{/if}}" alt="{{name}}"
              class="pull-left img-author img-circle">
          </a>
          <p class="card-text">
            <a href="{{url}}" class="nom_auteur">{{name}}</a>
          </p>
          {{/author}}
          <p class="card-tags">
            {{#if tags}}
            <i class="icon-label"></i> {{tags limit=1}}
            {{/if}}
          </p>
        </div>
      </div>
    </div>
    {{/foreach}}
  </div>
</div>
{{/get}}