<div class="card">
  <div class="table-card">
    <div class="left-image lazy" title="{{{title}}}"
      style="background:url({{#if feature_image}}{{img_url feature_image}}{{else}}/assets/images/ippon-bkr.png{{/if}}) no-repeat center; background-size: cover;">
    </div>

    <div class="card-block" title="{{{title}}}">
      <div class="card-content">
        <p class="card-title"><a href="{{url}}" class="card_titre-a">{{{title}}}</a></p>
        <p class="card-excerpt">{{excerpt words=15}}…</p>
        <p class="card-read-more"><a href="{{url}}">Read More</a></p>
      </div>

      <hr class="hr_card" />

      <div class="author-block">
        <div class="card-date">
            <small class="text-muted">{{date format='MMM DD, YYYY'}}</small>
            <span>{{reading_time}}</span>
         </div>
        <p class="card-text card-text-latest">
          {{#foreach authors}}
          <a href="/author/{{slug}}/" class="nom_auteur">{{name}}</a>{{#unless @last}}, {{/unless}}
          {{/foreach}}
        </p>
        <p class="card-tags">
          {{#if tags}}
          <i class="icon-label"></i> {{tags limit=1}}
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</div>