<div class="card col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0" data-file="{{id}}" data-url={{url}} data-target="section">
  <div class="row">
    <div class="table-card">
      <div class="left-image" title="{{{title}}}" style="background:url({{#if feature_image}}{{img_url feature_image}}{{else}}/assets/images/ippon-bkr.png{{/if}}) no-repeat center; background-size: cover;"
        data-href="{{url}}"></div>

      <div class="card-block" title="{{{title}}}">
        <div class="featured_home">
          <i class="fa fa-star"></i>Featured
        </div>
        <div class="col-xs-12">
          <a href="{{url}}">
            <h1 class="card-title col-xs-12">{{{title}}}</h1>
          </a>
        </div>
        <p class="card-text card-text-latest">{{excerpt words=15}}…
          <br/>
          <a href="{{url}}">Read More</a>
        </p>

        <hr/>

        <div class="col-xs-7 col-md-8 dp_margin_b author-block">
          {{#author}}
          <a href="{{url}}">
            <img src="{{#if profile_image}}{{img_url profile_image}}{{else}}/assets/images/default-avatar.png{{/if}}" class="pull-left img-author img-circle">
          </a>
          <p class="card-text card-text-latest">
            <a href="{{url}}" class="nom_auteur">{{name}}</a>
          </p>
          {{/author}}
          <span class="tags_container">
            {{#if tags}}
            <i class="icon-label"></i> {{tags limit=1}}
            {{/if}}
          </span>
        </div>
        <div class="col-xs-5 col-md-4 dp_margin_b read-info">
          <p class="text-xs-right card-text card-text-latest col-xs-12 pull-xs-right">
            <small class="text-muted">{{date format='MMM DD, YYYY'}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>